.heading {
  font-size: 28px;
  margin-bottom: 14px;
  color: var(--text-white);
}

.description {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--foreground-color);
  margin-bottom: 18px;
  color: var(--text-white);
}

.image {
  object-fit: cover;
  border-radius: 0px;
}
.cicontentcolumn{
	background: #ffffff1f;
	border: 1px solid #ffffff4a;
}