.heading {
  font-size: 32px;
  margin-bottom: 34px;
  color: var(--text-white);
  font-weight: 400;
}

.description {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--foreground-color);
  margin-bottom: 18px;
  color: var(--text-white);
}