@import "tailwindcss";

:root {
  --background-color: #ffffff;
  --primary-bg-color:#ffffff;
  --secondary-bg-color:#437EB221;
  --foreground-color: #383838;

  --primary-color: #122A40;
  --primary-color-70-alpha: #122a40ce;
  --primary-color-80-alpha: #122a40ce;
  --primary-color-90-alpha: #122a40ce;
  --primary-hover: #0c2236;

  --secondary-color: #0e5fa7;
  --tertiary-color: #0e5fa7;

  --accent-color: #BE9942;
  --text-white: #ffffff;
}
html {
  font-size: 17px;
}

body {

  background: var(--background-color);
  color: var(--foreground-color);
  font-family: "Barlow", sans-serif;
  font-size: 17px !important;


  .text-color-primary{
    color: var(--primary-color);
  }

header{

  background-color: var(--background-color);
  font-family: "Barlow", sans-serif;
  font-weight: 100;


  nav a{
    font-size: 16px;
  }


}

/* Base Button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
}

/* ================= PRIMARY ================= */
.btn-primary {
  background: var(--secondary-color);
  color: #fff;

  &:hover {
    background: var(--primary-hover);
  }
}

/* ================= SECONDARY ================= */
.btn-secondary {
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary-color);

  &:hover {
    background: var(--secondary-color);
    color: #fff;
  }
}

/* ================= ACCENT (Optional but Recommended) ================= */
.btn-accent {
  background: var(--accent-color);
  color: #000;

  &:hover {
    background: var(--tertiary-color); // manually adjusted darker tone
    color: #fff;
  }
}

}
h1, h2, h3, h4{
  line-height: 1.2em;
  font-weight: 500;

}

/* ======    Checklist icons style ===========*/ 
.check-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.check-list > li, .check-list > li li {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}
.check-list > li li:last-child{
  margin-bottom: 0px !important;
}
.check-list li svg {
  color: var(--accent-color);
  flex-shrink: 0;
  margin-top: 4px;
}

.check-list li li svg {
  color: var(--accent-color);
  flex-shrink: 0;
  margin-top: 8px;
}

.ci-content-column{
	background: #ffffff1f;
	border: 1px solid #ffffff4a;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	background: #fff;
}

@media all and (min-width:992px){
  h1.heading{
    font-size:48px !important;
  }
  h2.heading{
    font-size:32px !important;
      margin-bottom: 15px;
  }
    h3.heading{
    font-size:26px !important;
      margin-bottom: 15px;
  }
}
@media all and (max-width:991px){
  h1.heading{
    font-size:32px !important;
  }
  h2.heading{
      margin-bottom: 15px;
    font-size:26px !important;
  }
    h3.heading{
    font-size:22px !important;
      margin-bottom: 15px;
  }
  
}
strong{
  font-weight: 600;
}
.subtitle {
	margin-bottom: 10px;
	font-size: 18px;
	display: block;
}
.subtitle::after {
	content: "";
	width: 100px;
	height: 1px;
	display: inline-block;
	position: relative;
	background: #fff;
	margin-left: 10px;
	margin-bottom: 5px;
}
:is(.swiper-button-next, .swiper-button-prev) {
	background: #0f2a44b3;
	padding: 15px;
	color: #fff !important;
	border-radius: 30px !important;
}