.card {
  background: #fff;
  border-radius: 0px;
  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}
.card:hover .btnWrapper{
  background-color: #122a40;
  	border-radius: 30px;
	width: 45px;
	height: 45px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--primary-color);
  }

  p {
    font-size: 14px;
    color: var(--foreground-color);
  }
  .btnWrapper a{
	background-color: #122a404d;
	border-radius: 30px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

}